.sidebar
	.sidebar-menu.sidebar-menu--special
		nav#user-profile-nav-menu
			//======= menu item ======
			button(data-tab="pulse")
				span.icon-cell
					+pulse
				span.text-small Пульс
			//======= menu item ======
			button(data-tab="referral")
				span.icon-cell
					+referral
				span.text-small Рефералы
			//======= menu item ======
			button(data-tab="chat")
				span.icon-cell.icon-cell--desk
					+chat
				span.icon-cell.icon-cell--mob
					+chat2
				span.text-small Чат
			//======= menu item ======
			button(data-tab="finance")
				span.icon-cell
					+finance
				span.text-small Финансы
			//======= menu item ======
			button(data-tab="assets")
				span.icon-cell
					+assets
				span.text-small Активы