.header-top
	.header-top__content
		// ===== menu icon ======
		.header-top__icon
			+menuIcon
		// ===== LOGO ======
		a(href="#!").logo
			span
				+logo
			span игровой майнинг отель
		
		// ===== LOGIN BTN ======
		.header-top__btn
			button.button(type=	"button"  data-btn="1") Вход