
.statistic
	+statistic-card('453 000', 'Накоплено')
	+statistic-card('23 292', 'С рефералов', 'text-green')
	+statistic-card('435 000', 'Инвестировано')
	+statistic-card('1 435 000', 'Было выплачено')
	+statistic-card('2 435 000', 'Стоимость активов')