//====     social block ======= 
.social
	h4.title-small Вход через месенджер
	.social-block
		//========= TELEGRAM =========
		a.social-item(href="#!" target="_blank")
			+tg
		//========= WHATS APP =========
		a.social-item(href="#!" target="_blank")
			+wh
		//========= FACEBOOK=========
		a.social-item(href="#!" target="_blank")
			+fb
		//========= VK =========
		a.social-item(href="#!" target="_blank")
			+vk