/* =====================
формы на главной, отркывающиеся справа
===============================*/
.form-block  {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
	padding: 32px;
	padding-top: 88px;
	background-color: #fff;
	max-width: 520px;
	width: 100%;
	text-align: center;
	
	transform: translateX(115%);
	transition: .5s;
	.title-3{
		width:fit-content;
		margin-left: auto;
		margin-right: auto;
	}
	.form-block__header {
		margin-bottom: 36px;
		@media(min-width:768px){
			margin-bottom: 32px;
			
		}
	}
	.social{margin-top: 20px;}
	@media(min-width:768px){
		padding: 80px;
		box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.2);
	}
}
.form-block.visible{
   transform: translateX(0);
}
.form-block__header {
	height: 56px;
	box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	position: absolute;
	padding-left: 8px;
	padding-right: 8px;
	top: 0;
	left: 0;
	right: 0;
	&-arrow{
		display: block;
		width: 40px;
		height: 40px;
		margin-right: 18px;
		
	}
	.button{
		margin-left: auto;
		
	}
	@media(min-width:768px){
		position: relative;
		box-shadow: none;
		height: auto;
		text-align: center;
		display: block;
		&-arrow {
			display: none;

		}
		.button {
			display: none;

		}
	}
}
.form-block__img{
	text-align: center;
	margin-bottom: 20px;
	@media(min-width:768px){
		margin-bottom: 27px;
	}
}
.form-block__img.form-block__img--round{
	width: 128px;
	height: 128px;
	border: 3px solid #80BC55;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.close-block{
	position: absolute;
	width: 40px;
	height: 40px;
	font-size: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 16px;
	right: 32px;
	color:$greyText;
	display: none;
	span{
		transform: rotate(45deg);
		transition: .3s;
	}
	@media(min-width:768px){
		display: flex;
	}
	
}
.close-block:hover {
	opacity: .5;
	span {
		transform: rotate(405deg);
	}
}
.form-block__body{
	p {
		font-size: 16px;
		line-height: 24px;

		text-align: center;
		letter-spacing: 0.44px;
		color: #7C7C7C;

		span {
			margin-left: 5px;
		}
	}
}
.form-block__body label {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.2px;
	color: $darkBlue;
	border: 4px solid #FFFFFF;
	position: absolute;
	left: 20px;
	top: -11px;
	z-index: 2;
}
.form-item{
	position: relative;
	input{
		width: 100%;
		height: 56px;
		padding-left: 12px;
		padding-right: 12px;
		border: 1px solid #F3F3F3;
		box-sizing: border-box;
		border-radius: 4px;

	}
	input[type="checkbox"] {
		width: 18px;
		height: 18px;
		padding: 0;
		border-radius: 0;
		border: 1px solid #F3F3F3;
	}
	.input-icon{
		position: absolute;
		top: 50%;
		right: 12px;
		transform:translateY(-50%);
	}
}
.form-item.form-item--code{
	display: flex;
	justify-content: center;
	margin-top: 13px;
	margin-bottom: 40px;
	input{
		border: 0;
		width: 24px;
		color: #121212;
		font-family: $med;
		font-size: 20px;
		text-align: center;
		border-bottom: 2px solid #4FB8FF;
		padding: 0;
		border-radius:0;
		
	}
	input+input{
		margin-left: 16px;
	}
}
.form-item__text{
	p{margin-bottom: 18px;}
	button{
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		letter-spacing: 0.25px;
		color: #3F5867;
	}
}
.form-item--btn{
	margin-top: 64px;
	
	@media(min-width: 768px){
		margin-top: 94px;
	}
}
.form-item--btn{
	.btn +.btn{margin-top: 20px;}
}
.form-block .title-3 +p {
	margin-top: 20px;
    
}
.form-block__body-header{

	margin-bottom: 20px;
	@media(min-width:768px) {
		margin-bottom: 33px;
	}
}
.form-block--success{
	padding-top: 111px;
	.form-block__body-text{
		margin-top: 20px;
	}
	.form-item--btn {
		margin-top: 36px;
	}
	.form-block__img {
		margin-bottom: 42px;
	}
	@media(min-width:768px){
		padding-top: 80px;
		.form-block__body-text {
			margin-top: 70px;

		}
		.form-item--btn{
			margin-top: 56px;
		}
		.form-block__header{
			margin-bottom: 52px;
		}
		.form-block__img{
			margin-bottom: 50px;
		}
	}	
}
/*================================
потверждение имени пользователя 
================================*/
.form-block__img img{
	border-radius:50%;
}
.user-phoneNumber {
	margin-top: 32px;
	padding-top: 8px;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid rgba(38, 50, 56, .24);
	
}
.user-phoneNumber .text-14{
	opacity: .72;
	line-height: 20px;
}
.user-phoneNumber p {
	color: #1C1B17;
	line-height: 1.75;
}
