/* ==============================  
шапка не залогиненный пользователь
=================================*/
.header-top{
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.01), 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 1px 12px rgba(0, 0, 0, 0.12);
	background-color: #fff;
	position: relative;
	z-index: 3;
	height: 56px;
	
}
.header-top__content{
	max-width:1440px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1px;
	padding-right: 16px;
	height: 56px;
	display: flex;
	align-items: center;
	@media(min-width:1440px){
		padding-left: 12px;
		padding-right: 12px;
	}
}
.header-top__icon{
	padding: 14px 11px ;
	margin-right: 16px;
}
.logo{
	span{
		font-size: 10px;
		line-height: 1.2;
		letter-spacing: 0.04em;
		color: #000000;
		font-family: $thin;
		display: block;
	}
	span:last-child{
			position: relative;
			top: -7px;
	}
}
.header-top__btn{
	margin-left: auto;
	
}
.header-top.header-top--profile{
	.logo{
		display: none;
		@media(min-width:768px){
			display: block;
		}
	}
	.profile-tab-title{
		display: block;
		@media(min-width:768px) {
			display: none;
		}
	}
}
// ====== header ========
.header{
	overflow: hidden;
	min-height: calc(100vh - 56px);
	position: relative;
	padding-top: 80px;
	
	@media(min-width:768px) {
		padding-top: 100px;
		background-image: url('../img/header_bg.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	@media(min-width:1200px){
		padding-top: 120px;
		
	}
	@media(min-width:1440px) {
		padding-top: 127px;
	}
}
.header__content{
	position: relative;
	z-index: 4;
	display: flex;
	flex-direction: column;
	@media(min-width:768px) {
		flex-direction: row;
	}
	
}
.header-left{
	width: 90%;
	max-width:320px;
	@media(min-width:768px) {
		width: 70%;
		max-width: 640px;
	}
	@media(min-width:992px) {
		width: 60%;
		max-width: 475px;
	}
	@media(min-width:1200px) {
		
		max-width:640px;
	}
}
.header-right {
	
	height: 300px;
	width: 100%;
	max-width:353px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -45px;
	padding-right: 20px;
	position: relative;
	@media(min-width:768px) {
		margin-top: 50px;
		
		width: 353px;	
	}
	@media(min-width:1200px) {
		width: 40%;
		margin-top: 0;
		padding-right: 0;
		height: auto;

	}
	
}
.header:before{
	content: '';
	background-image: url('../img/header_figure.png');
	background-position: right;
	background-size: cover;
	position: absolute;
	z-index:  2;
	top: 0;
	left: 0;
	bottom: 0;
	width: 47.3%;
	max-width: 540px;
	display: none;

	@media(min-width:768px) {
		display: block;
	}
	@media(min-width:1920px) {
		max-width: 750px;
	}
}

.label-text p{
	text-transform: uppercase;
	font-family: $med;
	font-size: 10px;
	line-height: 1.6;
	letter-spacing: 1.5px;
	border: 1.6875px solid #2ECC71;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 15px;
	display: inline-block;
	@media(min-width:1440px){
		font-size: 16.875px;
		letter-spacing: 2.53125px;
		padding-left: 13px;
		padding-right: 13px;
	}
}
.header .label-text{
	margin-bottom: 18px;
	@media(min-width:768px){
		margin-bottom: 35px;
	}
}
.header__subtitle{
	padding-top: 19px;
	display: none;
	@media(min-width:992px){
		display: block;
	}
}
.header__subtitle p{
	line-height: 1.5;
	letter-spacing: 0.44px;
	color: #000000;
	max-width:317px;
}
.header .button-color{
	margin-top: 27px;
	@media(min-width:1200px){
		margin-top: 50px;
	}
}
.header-decor-block {
	width: 100px;
	height: 135px;
	position: relative;
	margin-left: auto;
	
	span{
		letter-spacing: 0.830239px;
		text-transform: uppercase;
		font-family: $med;
		color: #979797;
		line-height: 18px;
		font-size: 15px;
		position: relative;
		z-index: 2;
	}
	@media(min-width:1200px){
		width: 135px;
		height: 240px;
		position: relative;
		margin-left: auto;
		transform: translate(-56%, -4%);
		span{
			line-height: 24px;
			font-size: 20px;
			letter-spacing: 1.08135px;
		}
	}
}
.header-decor{
	position: absolute;
	width: 35px;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	
	span:first-child{
		position: absolute;
		top: 0;
		left: -2px;	
		width: 35px;
		height: 35px;
		border-radius: 9px;
		background-color:$yellow;
		z-index: 1;
	}
	span:last-child{
		z-index: 2;
	}
	
	@media(min-width:1200px) {
			width: 47px;
			height: 47px;
			span:first-child{
			border-radius: 12px;
			width: 50px;
			height: 50px;
			}
		    
	}
	
}

.header-decor1 span:last-child{
	transform: rotate(-15deg);

}
.header-decor1 span:first-child {
	transform: rotate(-51deg);
}
.header-decor2 span:first-child {
	transform: rotate(-51deg);
}
.header-decor4 span:first-child {
	transform: rotate(-43deg);
}
.header-decor3 span:last-child{
	transform: rotate(28.33deg);
}
.header-decor2{
	transform: rotate(4.04deg);
} 
.header-decor3{
 transform: rotate(-12.04deg);
} 
.header-decor4{
 transform: rotate(4.04deg); 
}
.header-decor1{
	display: none;
	top: 0;
	right: 0;
	
		@media(min-width:1200px) {
			display: flex;
		}
}

.header-decor2 {
	
	top:0px;
	right: 0px;
	@media(min-width:1200px) {
		top: 34%;
		right: 20%;
	}
}
.header-decor3 {
	top: 33%;
	left: 21%;
	@media(min-width:1200px) {
		top: 57%;
		left: 5%;
	}
}
.header-decor4 {
	bottom: 15px;
	right: -9px;
	@media(min-width:1200px) {
		top: 77%;
		right: 10%;
	}
}

.header-proffit{
	display: flex;
	width: 353px;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
	top: -59px;
	right: 12px;
    padding-bottom: 20px;
	@media(min-width:1200px){
		width: 402px;
			align-items: flex-end;
			position: relative;
			top: -32px;
			right: -16px;
			padding-bottom: 20px;
			flex-direction: row-reverse;
	}
}
.header-proffit__decor {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 167px;
	height: 175px;
	position: relative;
	top: 63px;
	right: -10px;
	z-index: 2;
		background-image: url('../img/header_mob.png');
		background-size: contain;
		background-repeat: no-repeat;
	span{
		
		font-size: 24px;
		line-height: 28px;
		font-family: $bold;
		
	}
	span:first-child{
		
		font-size: 60px;
		line-height: 70.3px;
	}
	span:last-child{
		position: relative;
		top: -7px;
	}
	@media(min-width:1200px){
		top: -13px;
		right: -3px;
		padding-bottom: 20px;
		background-image: url('../img/header_decor2.png');
		span {
		font-size: 19.6976px;
		line-height: 23px;
		}
		span:first-child {
			font-size: 49.2439px;
			line-height: 58px;

		}
	}
}
.header-proffit__text{
	width: 165px;
	position: relative;
	top: 12px;
	right:0px;
	z-index: 5;
	@media(min-width:1200px) {
		z-index: 1;
		top:6px;
	}
	p:after{
		content: '';
		position: absolute;
		left: 6px;
		top: 0;
		bottom: -6px;
		width: 1px;
		background-color: #000;
	}
	p:before {
		content: '';
		position: absolute;
		height: 1px;
		left: 6px;
		top: auto;
		bottom: -6px;
		height: 1px;
		width: 214px;
		background-color: #000;
		@media(min-width:1200px){
			left: -64px;
			top: 0;
			width: 72px;
			bottom: auto;
		}
	}
	p{
		font-size: 14px;
		padding-left: 15px;
		padding-top: 0;
		line-height: 20px;
		letter-spacing: 0.25px;
		position: relative;

		@media(min-width:992px){
			padding-top: 15px;
		}
	}
}
.header-condition{
	
	width:110px;
	height: 110px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('../img/header_decor3.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 21%;
	left: 110px;
	z-index: 6;
	span{
		font-family: $bold;
		
		font-size: 14px;
		line-height: 17px;
	}
	span:first-child{
		font-size: 12px;
		line-height: 14px;
	}
	span:last-child {
		font-size: 9.5px;
		line-height: 16px;
		letter-spacing: 0.0680187px;
		
		font-family: $med;
		color: #000;
	}
	@media(min-width:1200px){
		position: relative;
		top:auto;
		left: auto;
		width: 309px;
		height: 309px;
		margin-top: -107px;
		right: 140px;
		span {
			font-size: 36px;
			line-height: 42px;
		}
		span:first-child {
			font-size: 31px;
			line-height: 37px;
		}
		span:last-child {
			font-size: 20px;
			line-height: 35px;
			letter-spacing: 0.146488px;
			
		}
	}
}