/*=============== ASSETS TYPE ===========*/
.header-top.header-top--inner {
	.header-top__icon{
		display: none;
			@media(min-width:768px) {
				display: block;
			}
	}
	.profile-tab-title{
		display: flex;
		align-items: center;
		@media(min-width:768px){
			display: none;
		}
	}
}
.page-content__assets-type {
	.assets-type__body{
		padding-top: 28px;
	}
	.slot-block{
		padding-top: 28px;
	}
	@media (min-width: 768px){
		.assets-type__body .title-group {
		width: 347px;
		}
	} 
	
}
.assets-type__swipe {
	
	padding-left: 16px;
	width: calc(50% + 47vw);
	&::-webkit-scrollbar{
		display: none;
	}
	overflow-x: auto;
	padding-bottom: 10px;
	padding-top: 10px;
	overflow-x: auto;
	scrollbar-width: 0;
	@media(min-width:768px) {
		width: auto;
		margin-left:-8px;
		padding-left: 8px;
		
	}
	.card-mini{
		padding: 8px;
		background: #FFFFFF;
		flex-shrink: 0;
		box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.01),
		0px 4px 8px rgba(0, 0, 0, 0.02),
		0px 1px 12px rgba(0, 0, 0, 0.12);
		border-radius: 4px;
		width: 109px;
		height: 75px;
		& + .card-mini{
			margin-left: 8px;
		}
	}
}
.assets-type__body{
	padding-left: 16px;
	padding-right: 16px;
	@media(min-width:768px) {
		padding-left: 0;

	}
	.title-group {
		margin-bottom: 12px;
		align-items: center;
		justify-content: space-between;
		width: 343px;

		@media(min-width:768px) {
			width: 490px;
			
		}

	}
}
.page-content__assets-card h2.title-2.title-desktop,
.page-content__assets-type h2.title-2.title-desktop{
	display: none;
	@media(min-width:768px){
		display: block;
		padding-top: 40px;

	}
}