#overlay
include ../blocks/_header-top-login
header.header
	.container
		.header__content
			.header-left
				.label-text
					p абсолютно легально
				.header__title
					h1.title-1 Добываем крипто валюту #[span для вас]
				.header__subtitle
					p Участвуя в кибер спортивных соревнованиях с наградой за действия
				button.button-color Стать клиентом
			.header-right
				.header-decor-block
					.header-decor.header-decor1
						span
						span ETH
					.header-decor.header-decor2
						span
						span sLP
					.header-decor.header-decor3
						span
						span $
					.header-decor.header-decor4
						span
						span ₽
				.header-proffit
					.header-proffit__text
						p Текущая средняя доходность на сумму инвестиций в крипто киберспорт
					.header-proffit__decor
						span +9%
						span в месяц
					
				.header-condition
					span цена входа
					span от 100 000₽
					span за майнинг слот
					

