.user-profile
	//========================= HEADER ====================
	.header-top.header-top--profile.header-top--inner
		.header-top__content
			// ===== menu icon ======
			.header-top__icon
				+menuIcon
			// ===== LOGO ======
			a(href="#!").logo
				span
					+logo
				span игровой майнинг отель
			.profile-tab-title
				button.form-block__header-arrow( type="button" data-close)
					+arrow-right
				h2.title-2 Axie Infinity
			// ===== user-block ======
			.header__user-menu
				.user-menu__item.user-menu__currency
					.custom-select
						.select-icon
							+carret
						.select-field
							input(type="text" value="₽" readonly)
						.select-list
							ul
								li.current(data-role="₽") ₽
								li(data-role="$") $
								li(data-role="€") €
				.user-menu__item.user-menu__notify
					.notify-alert
					span
						+notify
				.user-menu__item.user-menu__ava
					img(src="./img/profile-avatar.jpg", width="40" alt="user")
	//============================ page content ===========================
	.page-content.d-flex
		//================ sidebar ==================
		.page-content__sidebar
			include ../blocks/_aside-menu

		//================ main content ==================
		.user-profile__tabs
			.page-content__frame.active
				.page-content__assets-type
					h2.title-2.title-desktop  Axie Infinity
					.assets__header
						.referral-block__info
							p.text-small Общая стоимость всех активов
							.assets-info.d-flex
								.assets-info__left.d-flex
									p.text-14 167 000 ₽
									span
										+tranding
								.assets-info__right
									p / 0,24 ETH

					.assets-type__swipe
						.card-mini__block.d-flex
							.card-mini
								p.text-12 Ваша доля
								p.text-16 237 000 ₽
								p.text-12 109 SLP
							.card-mini
								p.text-12 Ваша доля
								p.text-16 237 000 ₽
								p.text-12 109 SLP
							.card-mini
								p.text-12 Ваша доля
								p.text-16 237 000 ₽
								p.text-12 109 SLP
							.card-mini
								p.text-12 Ваша доля
								p.text-16 237 000 ₽
								p.text-12 109 SLP
							.card-mini
								p.text-12 Ваша доля
								p.text-16 237 000 ₽
								p.text-12 109 SLP
					.assets-type__body
						.available-card
							.available-card__text
								p Доступно к выводу
							.flex-column
								.available-card__summ
									span.text-16 123 849₽
									span.text-12 1 034 SLP
								.available-card__button
									a(href="withdrawal.html").icon-btn
										+finance
						.slot-block
							.title-group.d-flex
								h2.title-2 Игровые слоты
								.title-group__icon
									+titleInfo
							.slot-block__cards
								+myAssets
								+myAssets
								+myAssets