.user-profile.user-profile--withdrawal
	include ../sections/_header-profile
	.page-content.d-flex
		.page-content__sidebar
			include ../blocks/_aside-menu_2
		.user-profile__tabs
			//=========== ВЫВОД СРЕДСТВ =============
			include ../lk/_withdrawal.pug