.user-profile
	include ../sections/_header-profile
	.page-content.d-flex
		.page-content__sidebar
			include ../blocks/_aside-menu
		.user-profile__tabs
			//=========== ПУЛЬС =============
			include ../lk/_pulse.pug

			//===========РЕФЕРАЛЫ=============
			//- include ../lk/_referral.pug
			include ../lk/_referral_2.pug

			//===========ЧАТ=============
			include ../lk/_chat.pug

			//===========ФИНАНСЫ=============
			include ../lk/_finance.pug

			//===========АКТИВЫ=============
			include ../lk/_assets.pug