.page-content__frame(data-content="assets")
	.page-content__assets
		.assets__header
			.referral-block__info
				p.text-small Общая стоимость всех активов
				.assets-info.d-flex
					.assets-info__left.d-flex
						p.text-14 167 000 ₽
						span
							+tranding
					.assets-info__right
						p / 0,24 ETH
		.assets__body
			.assets-list
				.assets-list__filter
					.filter-menu.d-flex
						button.active Axie infinity
						button Игоровой проект 2
						button Игоровой проект 3
						button Игоровой проект 4
				.assets-list__cards.d-flex
					+myAssets
					+myAssets
					+myAssets
					+myAssets
					+myAssets