.page-content__frame(data-content="referral")
	.page-content__referrals
		.referral-block__header
			//============ НЕТ РЕФЕРАЛОВ ============
			.referral-block__title
				h2.title-2 Пригласите друзей.<br>Получайте криптовалюту.
				p.text-16 Мы выплачиваем 6% от заработка ваших рефералов в течении двух лет после их регистрации
		.referral-block__body
			.card-referral
				.card-referral__text
					p.text-small Партнёрская ссылка
					p.referral-link.text-16 https://gamehotel.ru/p448410
				.card-referral__icon
					+copy
			.referral-block__btn
				button.btn.btn--icon.btn--dark(type="button") Отправить ссылку
		.referral-block__footer
			.text-info.d-flex
				.info-icon
					+info
				p.text-16 У вас пока нет рефералов, но мы верим что они скоро появятся :)