.page-content__frame(data-content="referral")
	.page-content__referrals
		//============ ЕСТЬ РЕФЕРАЛЫ ============
		.referral-block__header
			.referral-block__info
				p.text-small Накоплено с рефералов
				.assets-info.d-flex
					.assets-info__left.d-flex
						p.text-14 167 000 ₽
						span
							+tranding
					.assets-info__right
						p / 0,24 ETH
		.referral-block__body
			.card-referral
				.card-referral__text
					p.text-small Партнёрская ссылка
					p.referral-link.text-16 https://gamehotel.ru/p448410
				.card-referral__icon
					+copy
			.referral-block__btn
				button.btn.btn--icon.btn--green(type="button") Вывести средства
		.referral-block__footer
			.user-actions
				.title-group.d-flex
					h2.title-2 Перечень операций
					.title-group__icon
						+titleInfo
				.user-actions__list
					.filter-menu.d-flex
						button.active 7 дней
						button 14 дней
						button 1 мес
						button 1 год
					.user-actions__cards
						//====== карточка ========
						.action-card
							.action-card__left
								p.text-16 Иванов Петр
								p.text-14 23.08.21
							.action-card__right
								p.text-16.text-green + 3 049₽
						//====== карточка ========
						.action-card
							.action-card__left
								p.text-16 Золодцев Александр
								p.text-14 23.10.21
							.action-card__right
								p.text-16.text-green + 3 049₽
