
.page-content__frame.active
	.page-content__whithdrawal
		.whithdrawal__header
			.available-card
				.available-card__text
					p Доступно к выводу
				.flex-column
					.available-card__summ
						span.text-16 123 849₽
						span.text-12 1 034 SLP
		.whithdrawal__body
			form.whithdrawal-form
				.title-group.d-flex
					p.title-small Адрес Ronin сети
					a(href="#!").text-link Как получить?
				.form-item
					input(type="text" placeholder="Укажите ваш адрес в Ronin сети")
				.form-item.form-item--check
					label.text-12 
						input(type="checkbox" checked)
						span  Сохранить адрес для будущих транзакций
				.form-fieldset
					p.title-2 Укажите сумму вывода
					.form-item
						input(type="text" placeholder="Укажите сумму вывода")
						span.curName SPL
					button.btn.btn--icon.btn--green(type="button") Отправить средства