mixin tg
	svg(width="56", height="56", viewBox="0 0 56 56", fill="none", xmlns="http://www.w3.org/2000/svg")
		path(d="M28 56C43.464 56 56 43.464 56 28C56 12.536 43.464 0 28 0C12.536 0 0 12.536 0 28C0 43.464 12.536 56 28 56Z", fill="#76A5C3")
		path(d="M12.4434 27.3209L39.9354 17.1248C41.2114 16.6814 42.3258 17.4242 41.9124 19.2801L41.9147 19.2778L37.2337 40.4907C36.8868 41.9946 35.9577 42.3603 34.658 41.6518L27.5296 36.5983L24.0913 39.7844C23.7111 40.1501 23.3903 40.4587 22.6537 40.4587L23.1598 33.4807L36.3712 22C36.9462 21.5132 36.2429 21.2389 35.4849 21.7235L19.1584 31.611L12.1203 29.4991C10.5924 29.0329 10.5592 28.0295 12.4434 27.3209Z", fill="white")
mixin wh
	<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#wa)">
			<path d="M47.88 8.04767C42.56 2.905 35.56 0 28.105 0C6.70833 0 -6.727 23.1817 3.95733 41.622L0 56L14.7817 52.1453C21.2217 55.6243 26.4973 55.3163 28.119 55.5217C52.9293 55.5217 65.2797 25.5057 47.845 8.13867L47.88 8.04767Z" fill="#F3F3F3"/>
			<path d="M28.1558 50.7523L28.1418 50.75H28.1045C20.6798 50.75 15.9362 47.2337 15.4695 47.0307L6.71948 49.3057L9.06448 40.8007L8.50682 39.9257C6.19682 36.2483 4.96948 32.0133 4.96948 27.6523C4.96948 7.13534 30.0412 -3.12433 44.5498 11.3773C59.0235 25.7273 48.8618 50.7523 28.1558 50.7523Z" fill="#80BC55"/>
			<path d="M40.8495 33.3829L40.8285 33.5579C40.1262 33.2079 36.7055 31.5349 36.0685 31.3039C34.6382 30.7743 35.0418 31.2199 32.2955 34.3653C31.8872 34.8203 31.4812 34.8553 30.7882 34.5403C30.0882 34.1903 27.8412 33.4553 25.1812 31.0753C23.1092 29.2203 21.7185 26.9453 21.3078 26.2453C20.6242 25.0646 22.0545 24.8966 23.3565 22.4326C23.5898 21.9426 23.4708 21.5576 23.2982 21.2099C23.1232 20.8599 21.7302 17.4299 21.1468 16.0626C20.5868 14.6999 20.0105 14.8726 19.5788 14.8726C18.2348 14.7559 17.2525 14.7746 16.3868 15.6753C12.6208 19.8146 13.5705 24.0846 16.7928 28.6253C23.1255 36.9133 26.4995 38.4393 32.6688 40.5579C34.3348 41.0876 35.8538 41.0129 37.0555 40.8403C38.3948 40.6279 41.1785 39.1579 41.7595 37.5129C42.3545 35.8679 42.3545 34.5029 42.1795 34.1879C42.0068 33.8729 41.5495 33.6979 40.8495 33.3829Z" fill="#F3F3F3"/>
		</g>
		<defs>
			<clipPath id="wa">
				<rect width="56" height="56" fill="white"/>
			</clipPath>
		</defs>
	</svg>
mixin fb
	<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
		<g clip-path="url(#fb)">
			<path d="M28 0C12.229 0 0 11.557 0 27.16C0 35.322 3.346 42.378 8.792 47.25C9.247 47.656 9.527 48.23 9.541 48.846L9.695 53.83C9.744 55.419 11.382 56.455 12.838 55.811L18.396 53.361C18.865 53.151 19.397 53.116 19.894 53.249C22.449 53.949 25.165 54.327 28 54.327C43.771 54.327 56 42.77 56 27.167C56 11.564 43.771 0 28 0Z" fill="#8BADC3"/>
			<path d="M11.1859 35.105L19.4109 22.057C20.7199 19.978 23.5199 19.467 25.4869 20.937L32.0319 25.844C32.6339 26.292 33.4599 26.292 34.0549 25.837L42.8889 19.131C44.0649 18.235 45.6049 19.649 44.8209 20.902L36.5889 33.943C35.2799 36.022 32.4799 36.533 30.5129 35.063L23.9679 30.156C23.3659 29.708 22.5399 29.708 21.9449 30.163L13.1109 36.869C11.9349 37.765 10.3949 36.358 11.1859 35.105Z" fill="white"/>
		</g>
		<defs>
			<clipPath id="fb">
				<rect width="56" height="56" fill="white"/>
			</clipPath>
		</defs>
	</svg>
mixin vk
	<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M28 56C43.464 56 56 43.464 56 28C56 12.536 43.464 0 28 0C12.536 0 0 12.536 0 28C0 43.464 12.536 56 28 56Z" fill="#4FB8FF"/>
		<path fill-rule="evenodd" clip-rule="evenodd" d="M26.9424 40.2805H29.14C29.14 40.2805 29.8038 40.2076 30.1428 39.8423C30.4547 39.5069 30.4447 38.877 30.4447 38.877C30.4447 38.877 30.4018 35.9281 31.7704 35.4939C33.1195 35.0661 34.852 38.3439 36.6883 39.6042C38.0769 40.558 39.132 40.3489 39.132 40.3489L44.0419 40.2805C44.0419 40.2805 46.6104 40.1223 45.3926 38.1028C45.2927 37.9376 44.6833 36.6089 41.742 33.8787C38.6633 31.0212 39.0756 31.4834 42.7841 26.5406C45.0427 23.5303 45.9456 21.6925 45.6636 20.9054C45.3946 20.1557 43.7335 20.3539 43.7335 20.3539L38.2051 20.3883C38.2051 20.3883 37.7954 20.3324 37.4914 20.5141C37.1944 20.6923 37.0032 21.1076 37.0032 21.1076C37.0032 21.1076 36.1283 23.437 34.9613 25.418C32.4996 29.5982 31.5153 29.8188 31.1131 29.5593C30.1772 28.9543 30.4108 27.129 30.4108 25.8323C30.4108 21.7814 31.0252 20.0924 29.2144 19.6551C28.6134 19.5099 28.1712 19.414 26.6344 19.3986C24.6618 19.3781 22.9923 19.4046 22.0469 19.8677C21.418 20.1757 20.9329 20.862 21.2284 20.9014C21.5937 20.9503 22.4213 21.1245 22.86 21.722C23.4265 22.4927 23.4065 24.2236 23.4065 24.2236C23.4065 24.2236 23.732 28.9923 22.6464 29.5847C21.9012 29.991 20.879 29.1615 18.6843 25.3691C17.5598 23.4265 16.7108 21.2793 16.7108 21.2793C16.7108 21.2793 16.547 20.878 16.2551 20.6634C15.9007 20.4033 15.4055 20.3205 15.4055 20.3205L10.1522 20.3549C10.1522 20.3549 9.36362 20.3769 9.07413 20.7198C8.81658 21.0247 9.05366 21.6556 9.05366 21.6556C9.05366 21.6556 13.1665 31.2778 17.8233 36.1268C22.0933 40.5725 26.9424 40.2805 26.9424 40.2805Z" fill="white"/>
	</svg>